  <div class="row">
    <div class="container-form">

      <div class="col-lg-12 text-center title-page">
        <h1>CRIAR SESSÃO DE APRENDIZAGEM</h1>
      </div>

      <%= form_for @learning_proposition do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Tema da Sessão de Aprendizagem. Ex: Gestão Ágil de Prjetos com Scrum"%>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class:"form-control", placeholder:"Descrição do Tema", rows:"3"%>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :min_attendees, class: "form-control input-lg", placeholder: "Numero mínimo de participantes"%>
            </div>
            <div class="col-md-6">
              <%= f.text_field :max_attendees, class: "form-control input-lg", placeholder: "Numero maximo de participantes"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :location, class: "form-control input-lg", placeholder: "Local"%>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :session_date, class: "form-control input-lg", placeholder: "Data e Hora"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= f.password_field :password, class: "form-control input-lg", placeholder: "Senha"%>
            </div>
            <div class="col-md-6">
              <%= content_tag :div, "Obs.: Esta senha pode ser usada para eventual exclusão desta sessão", class: "password_label"%>
            </div>
          </div>
        </div>
        <%= f.submit "CRIAR SESSÃO", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
