= simple_form_for([@learning_proposition, @interest]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :phone
    = f.input :roles_mask
    = f.association :learning_proposition

  .form-actions
    = f.button :submit
