= simple_form_for([@learning_proposition, @interest]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :phone
    .btn-group{"data-toggle" => "buttons"}
      %label.btn.btn-default
        = f.radio_button :roles_mask, 1
        Aluno
      %label.btn.btn-default
        = f.radio_button :roles_mask, 2
        Mestre
    

  .form-actions
    = f.button :submit
